@charset 'UTF-8';
@import 'reset';
@import 'colors';

html, body {
  height: 100%;
}

@for $i from 1 through length($themes) {
  $theme: nth($themes, $i);
  $name: map-get($theme, 'name');
  $color: map-get($theme, 'color');
  $forground-color: map-get($theme, 'forground-color');
  $background-color: map-get($theme, 'background-color');
  $error-forground-color: map-get($theme, 'error-forground-color');
  $error-background-color: map-get($theme, 'error-background-color');
  $icon-color: map-get($theme, 'icon-color');
  $icon-value: map-get($theme, 'icon-value');
  
  .theme-#{$name} * {
    font-size: 17px;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
    color: $color;
  }

  .theme-#{$name} {

    .icon {
      @include colorize($icon-color, $icon-value);
    }

    .root, .app-wrapper {
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background-color: $background-color;
    }

    input {
      box-sizing: border-box;
      height: 35px;
      background-color: $background-color;
    }

  }

}
