$bg:        #181E28;
$fg:        #6E7D96;
$fgError:   #966E6E;
$bgError:   #603F3F;
$bgSuccess: #5EA15E;

/** CodeMirror Mode **/
$cmOperator:  #89A7D7;
$cmNumber:    #CC6627;
$cmFlow:      #5C84C4;
$cmStatement: #5AB4C6;
$cmType:      #C5A574;
