$bg:        #232C31; //#181E28;
$fg:        #6E7D96;
$fgError:   #966E6E;
$bgError:   #603F3F;
$bgSuccess: #5EA15E;

/** CodeMirror Mode **/
$cmOperator:  #8ABEB7;
$cmNumber:    #CC6666;
$cmFlow:      #81A2BE;
$cmStatement: #F0C674; // #5AB4C6;
$cmType:      #DE935F;
