@charset 'UTF-8';
@import 'reset';
@import 'colors';

html, body {
  height: 100%;
}

.root, .app-wrapper {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-color: $bg;
  color: white;
  font-size: 17px;
  /*font-family: 'helvetica neue', helvetica;*/
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
}
