/*

    Name:       Bsc
    Author:     Anders Jørgensen

*/
@import 'colors';

.cm-s-default-bsc.CodeMirror { background: $bg; color: white; }
.cm-s-default-bsc div.CodeMirror-selected { background: #3a3432; }
.cm-s-default-bsc .CodeMirror-line::selection, .cm-s-default-bsc .CodeMirror-line > span::selection, .cm-s-default-bsc .CodeMirror-line > span > span::selection { background: rgba(58, 52, 50, .99); }
.cm-s-default-bsc .CodeMirror-line::-moz-selection, .cm-s-default-bsc .CodeMirror-line > span::-moz-selection, .cm-s-default-bsc .CodeMirror-line > span > span::-moz-selection { background: rgba(58, 52, 50, .99); }
.cm-s-default-bsc .CodeMirror-gutters { background: $fg; border-right: 0px; }
.cm-s-default-bsc .CodeMirror-guttermarker { color: white; }
.cm-s-default-bsc .CodeMirror-guttermarker-subtle { color: $bg; }
.cm-s-default-bsc .CodeMirror-linenumber { color: white; }

.cm-s-default-bsc .CodeMirror-cursor { border-left: 1px solid #807d7c; }

.cm-s-default-bsc span.cm-comment { color: #cdab53; }
.cm-s-default-bsc span.cm-atom { color: #a16a94; }
.cm-s-default-bsc span.cm-number { color: #a16a94; }

.cm-s-default-bsc span.cm-property, .cm-s-default-bsc span.cm-attribute { color: #01a252; }
.cm-s-default-bsc span.cm-keyword { color: #db2d20; }
.cm-s-default-bsc span.cm-string { color: #fded02; }

.cm-s-default-bsc span.cm-variable { color: #01a252; }
.cm-s-default-bsc span.cm-variable-2 { color: #01a0e4; }
.cm-s-default-bsc span.cm-def { color: #e8bbd0; }
.cm-s-default-bsc span.cm-bracket { color: #d6d5d4; }
.cm-s-default-bsc span.cm-tag { color: #db2d20; }
.cm-s-default-bsc span.cm-link { color: #a16a94; }
.cm-s-default-bsc span.cm-error { background: #db2d20; color: #807d7c; }

.cm-s-default-bsc .CodeMirror-activeline-background { background: #2F2F2F; }
.cm-s-default-bsc .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

